apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  # In real life, you'd never commit this file to Git! 
  # You would create this secret manually or use a vault.
  user: user123
  password: password123